


@media (max-width: 850px) {
    .btn-signin{
        color: white;
        background-color:#0263aa;
        border: none;
        padding: 0px 20px 0px 20px;
        align-self: center;
        margin-top: 10%;
        font-size: 1.3rem !important;
        float: center;
    }

    .sign-in-img{
        display: none !important;
    }



.cta{
    height: 30vh;
}
.cta-content{
        display: block;
    }

    .contact-card{
        display: "flex" !important;
        flex-direction: column !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .flex-wrapper{
        width: 50% !important;
        top: 30%;
        left: 5%;
        position: absolute;
    }
    .partner-wrapper {
        position: relative;
        height: 40vh;
        padding: 10rem !important;
        background-image: url("../images/info3.png");
        background-position: center;
        background-size: cover;
        width: 100% !important;

      }
      .partner-wrapper:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

    .wrapper{
        flex: 1;
        width: 100% !important;
    }
    .contain-wrapp{
        width: 100%;
    }

.masthead{
    margin: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('/images/head-img.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: "100%";
}

.masthead2{
    margin: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('/images/hand.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: "100%";
}
.masthead3{
    margin: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('/images/Man.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: "100%";
}
.header-content{
    margin: "10px"
}

.navbar{
    position: relative !important
}
.lead{
    font-size: 15px;
    color: white !important;
}
.header-welcome{
    color: white;
}
.header-img{
    display: none;
}
button{
    background-color: "#0263aa";
    color: 'white';
    padding: "2% 5% 2% 5%" !important;
    border: "none";
    font-size: 10px !important;
    margin-top: 20px !important
}
#btn{
    font-size: 10px !important;
    font-family: "ubuntu" !important;


}
#fitaf-full{
    font-size: 8px !important;
    font-family: 'ubuntu' !important;
    font-weight: lighter !important;
    display: none
}
}



.top-nav{
    height: 10vh;
    background-color: #f3f3f3;
    padding: 3%;
    font-family: "ubuntu";
    text-align: left;
    color: white;
    background-color: #0263aa;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-top-nav{
    display:flex;
    flex: 1;
    justify-content: flex-start;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-top-nav{
    flex: 6;
}
input{
    margin-top: 15%;
    border: none;
    padding: 5%;
    border-left: 2px #6bbe43;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline:#0263aa;
    font-weight:100;
}

.sign-in-wrapper{
    height: 90vh;
}

.sign-in-content{
    padding: 10%;
    position: relative;
    font-family: 'ubuntu';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}
.btn-signin-wrapper{
    position: relative;
    width: "100%";
    align-items: center;

}
.btn-signin{
    color: white;
    background-color:#0263aa;
    border: none;
    padding: 0px 15px 0px 15px;
    align-self: center;
    margin-top: 10%;
    font-size: 1.2rem;
    float: center;
}

.sign-in-img{
flex: 2;
width: 100vw;
height: 60vh;
position: relative;
background-image: url("../images/logo.png");
background-position: center;
background-repeat: no-repeat;
background-size: 50%;
}

.form-wrap{
    flex: 1;
    background-color: #f3f3f3;
}

.forgot-password{
    text-align: center;
    font-weight: 500;
     padding-left: 20%;
     text-decoration: none !important;
     text-decoration-line: none !important;
     text-decoration-style: none;
     color: #6bbe43;
}
 .new-text{
     padding: 5%;

 }

.fitaf-wrapp{
    margin-top: 20% !important;
}
.text-center{
    width: 100% !important
}


.icon-feature{
    color: #0263aa;
}

.cta{
    display: flex;
    flex-direction: row;
}


.masthead{
    background-color: #f3f3f3;
}
.masthead3{
    background-color: #f3f3f3;
}

.nav-item{
    text-decoration: none !important;

}

.form-wrapper{
    background-color: whitesmoke;
    font-family:"ubuntu";
}

.form-inputs{
    display: "flex";
    flex-direction: "column";
    justify-content: center;
    align-items: center;
}

.contact-card{
    display: "flex" !important;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    width: 100% !important;
}

.wrapper{
    border-top: 5px solid #6bbe43 !important;
    border-bottom: 5px solid #6bbe43!important;
    box-shadow: "0px 5px 5px 0px #888888" !important;
    padding: 10px !important;
    text-align: center !important;
    width: auto;
}

.texter{
    text-align: center;
    font-family: "ubuntu";
    line-height: 4rem;
}
.about-wrapper{
    font-family: 'ubuntu';
    background-color: #f3f3f3;
    text-align: justify;
    font-weight: 300;
    padding: 0 10% 0 10%;
}
.partner-wrapper {
    position: relative;
    height: 30vh;
    padding: 15rem;
    background-image: url("../images/info3.png");
    background-position: center;
    background-size: cover;

  }

  .flex-wrapper{
      /* flex: 1 !important; */
      width: 50% !important;
      /* background-color: red; */
      float: right;
      top: 30%;
      right: 5%;
      position: absolute;


  }
  .partner-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-wrapper{
      font-family: "ubuntu";
      flex: 3;

  }
  .inner-menu{
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    border-bottom-left-radius:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    position: relative;
    margin: auto;
    overflow-y: scroll;
    height: 90vh;
  }


.inner-menu-add {
    padding: 10px;
    height: 40vh;
    text-align: center;
    margin-top: 50vh;
    border-top: 2px solid #888888;
    width: 80%;
    position: relative;
    align-self: center;
    margin: auto;
}

  .right-menu-wrapper{
      font-family: "ubuntu";
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 2;
      overflow-y: scroll;
      height: 80vh;
      direction: rtl;
  }
  .nav-wrapper{
    flex: 0.2;
    width: 15px;
    border-bottom-left-radius:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
    background-color: white;
    height: 60vh;
    padding: 5px;
    text-align: center;
}

  .dashboard-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2%;
      font-family: "ubuntu";
      width: 100%;
      height: max-content;
  }

  .investment-wrapper, .amount-wrapper, .withdrawal-wrapper{
        margin: 10%;
        border-bottom-left-radius:6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: white;
        padding: 10%;
        direction: ltr;
  }


  .icon-nav{
      padding-top: 6vh;
      display: block;
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6bbe43;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0263aa;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0263aa;
  }


  .icon-nav .nav-wrapper-text {
    visibility: hidden;
    width: 120px;
    background-color: #0263aa;
    color: #f3f3f3;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
.bi{
    color:rgba(0, 0, 0, 0.5)
}
.bi:hover{
    cursor: pointer;
    color:#6bbe43;
}
  .icon-nav:hover .nav-wrapper-text{
      visibility: visible;
  }

  .nav-wrapper-text{
      margin-left: 0.8%;
  }

  .icon-nav .nav-wrapper-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #0263aa transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */


  .pie {
    position: relative;
    width: 200px;
    height: 200px;
    background: orangered;
    border-radius: 50%;
    overflow: hidden;
}
.sides {
    position: relative;
    width: inherit;
    height: inherit
}
.sides .left, .sides .right {
    position: absolute;
    top: 0;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transform: rotate(0);
}
.sides .left {
    left: -100px
}
.sides .right {
    left: 100px
}
.half {
    width: 100px;
    height: 200px;
    transition: 0.4s;
}
.sides .left .half {
    left: 100px;
    position: absolute;
    background: white;
    transform-origin: 100px 100px
}
.sides .right .half {
    position: absolute;
    background: white;
    transform-origin: 0 100px
}
.occluder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#circle-1, #circle-3, .circle-2{
    display: none;
}
.circles-container{
    background-color: white !important;
}
.page{
    background-color: white !important;
}
.occlusion {
    position: relative;
    display: block;
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}