@media (max-width: 500px) {
.masthead{
    margin: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('/images//header.png');
    background-position: "cover";
    background-repeat: no-repeat;
    background-size: contain;
}
.header-content{
    margin: "10px"
}
.navbar{
    position: relative !important
}
.lead{
    font-size: 15px;
    color: white !important;
}
.header-welcome{
    color: white;
}
.header-img{
    display: none;
}
button{
    background-color: "#0263aa";
    color: 'white';
    padding: "2% 5% 2% 5%" !important;
    border: "none";
    font-size: 10px !important;
    margin-top: 20px !important
}
#btn{
    font-size: 10px !important;
    font-family: "ubuntu" !important;


}
#fitaf-full{
    font-size: 8px !important;
    font-family: 'ubuntu' !important;
    font-weight: lighter !important;
    display: none
}
}

.fitaf-wrapp{
    margin-top: 10px !important;
}
.text-center{
    width: 100% !important
}
.cta-content{
    display: block !important;
}

